.background {
  background: rgb(52, 166, 251);
  table-layout: fixed;
  border-spacing: 0;
  /* margin-bottom: -50px; */
}
.background td {
  padding: 0;
}
.lava {
  background: rgb(255, 100, 100);
}
.wall {
  background: white;
}
.actor {
  position: absolute;
}
.coin {
  background: rgb(241, 229, 89);
}
.player {
  background: rgb(64, 64, 64);
}
.lost .player {
  background: rgb(160, 64, 64);
}
.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}
.game {
  overflow: hidden;
  max-width: 1200px;
  max-height: 1200px;
  position: relative;
}
:fullscreen {
  background-color: red;
}

#lives {
  position: absolute;
  z-index: 100;
  top: 30px;
  right: 50px;
  background: red;
}

/* .button.play {
  width: 32px;
  height: 32px;

  border-color: red blue green yellow;
  box-sizing: border-box;
  border-width: 20px;
  border-color: transparent transparent transparent #202020;
} */
.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.fas {
  margin-left: 32px;
  width: 50px;
  height: 50px;
  /* margin-bottom: -20px; */
}
#over {
  text-align: center;
}
